# Exemplo sem segredos. O arquivo real fica somente em /opt/girofy/hml/.env.hml.
APP_ENV=homologation
APP_VERSION=unknown
FLASK_DEBUG=0
PUBLIC_BASE_URL=https://hml.skygest.com.br
SECRET_KEY=gere-uma-chave-exclusiva-para-hml
API_TOKEN_SECRET=gere-outra-chave-exclusiva-para-hml
MASTER_DEFAULT_USERNAME=master_hml
MASTER_DEFAULT_PASSWORD=defina-fora-do-git
CSRF_ENABLED=1
SESSION_COOKIE_SECURE=1
SESSION_COOKIE_SAMESITE=Lax
API_ALLOW_INSECURE_AUTH=0
TRUST_PROXY_HEADERS=1
# Nginx público e Caddy HML são dois proxies confiáveis.
TRUSTED_PROXY_COUNT=2
SCHEMA_MANAGEMENT_MODE=verify
RATELIMIT_ENABLED=1
RATELIMIT_STORAGE_URI=redis://redis:6379/0
RATELIMIT_IN_MEMORY_FALLBACK_ENABLED=0
RATELIMIT_KEY_PREFIX=skygest-hml
MAIL_SUPPRESS_SEND=1
SUBSCRIPTION_COMMERCIAL_ENABLED=0

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=skygest_hml_central
MYSQL_USER=skygest_hml_app
MYSQL_PASSWORD=defina-fora-do-git
MYSQL_ROOT_PASSWORD=defina-fora-do-git
MYSQL_TENANT_DATABASE_PREFIX=skygest_hml_tenant

HML_SITE_ADDRESS=:18081
HML_LOOPBACK_PORT=18081
HML_BACKUP_HOST_DIR=/opt/girofy/hml/backups
AUTO_BACKUP_ENABLED=1
AUTO_BACKUP_INTERVAL_SECONDS=86400
AUTO_BACKUP_RETENTION_DAYS=14
AUTO_BACKUP_RETENTION_COUNT=14
